* {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100vw;
    height: 100vh;
    background: red;
    display: grid;
    grid-template-columns: 20% 80%;
}

.sidemenu {
    background: blueviolet;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: calc(100vw * 0.25);
    grid-gap: 1em;
    overflow-y: scroll;
    padding: 30px;
}

.box {
    background: yellow;
    border-style: solid;
    padding: 5%;
}

.box > h1 {
    font-size: 2vw;
}

.box > p {
    font-size: 1.5vw;
}

.box > img {
    width: 100%;
    height: 80%;
}

